<div class="main-container">
  <div class="main-content">
    <div class="space-6"></div>
    <div class="col-sm-12 col-sm-offset-0">
      <div class="center">
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-0"></div>
    <div class="col-sm-4 col-sm-offset-0">
      <div class="position-relative" style="text-align: center">
        <div id="signup-box" class="signup-box widget-box no-border transparent">
          <div class="widget-header">
            <h5 class="widget-title" >{{error.message}}</h5>
          </div>
        </div><!-- /.position-relative -->
      </div>
    </div><!-- /.row -->
    <div class="col-sm-4 col-sm-offset-0"></div>
  </div><!-- /.main-container -->
</div>
