<div class="pull-left msg-body no-margin">
  <i class="ace-icon fa fa-hand-o-right grey bigger-125"></i>
  <span class="msg-title">
    <sv-notification-destination destination="notification.sender"> </sv-notification-destination>
    <span> poked </span>
    <sv-notification-destination destination="notification.destination"></sv-notification-destination>
  </span>
  <span class="text-muted case-time msg-time msg-title">{{notification.createDate | moment}}</span>
</div>
<div class="clearfix"></div>